
# Dependency directories
/node_modules
dist
# Production build
/build

# Test coverage
/coverage

# Environment variables
.env

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.vscode
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
